[submodule "lib/ocaml-model-explorer"]
	path = lib/ocaml-model-explorer
	url = https://github.com/TheCBaH/ocaml-model-explorer.git
[submodule "vendored/llama.cpp"]
	path = vendored/llama.cpp
	url = https://github.com/ggml-org/llama.cpp.git
